h1 {
    color:red;
}
#heading-2 {
    color:blue;
}
.heading-3 {
    color:green;
}
.para {
    color:orange;
    border:2px solid black;
    border-style:solid;
    padding: 20px;
    text-align: center;
}
.navBar {
    border:5px;
    border-style:solid;
    border-color: gray;
    padding: 10px;
    background-color: rgba(14, 107, 14, 0.404);
    text-align: center;
}
.navBar a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.navBar a:hover {
    background-color: rgb(184, 185, 188);
    color: rgb(255, 255, 255);
}
body{
    margin: 0;
}
.card{
    border: 2px solid black;
    width: 300px;
    text-align: center;
    margin: 20px auto;
}
.card image{
    width: 100%;

}

#gender {
    cursor: pointer;
    font-size: 20px;
}
.card button {
     margin-bottom: 10px;
}